{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content%}

<div class="container">
        <form>
            <input type="text" name="source_query" placeholder="Search for a News Source" class="form-control">
            <br>
            <input type="submit"  value="Submit" class="btn btn-warning">
        </form>
    
</div>
<div class ="container-fluid">
    <div class ="row">
        <div class ="col-md-12">
            <h3> <strong>General News</strong></h3> 
        </div>
            <ul>
                {{ macro.displaySourceList(general)}}
            </ul>        
    </div>
    <br>
    <div class ="row">
        <div class ="col-md-12">
            <h3> <strong>Entertainment News</strong> </h3> 
            </div>
                <ul>
                    {{ macro.displaySourceList(entertainment)}}
                </ul>        
    </div>
        <br>
    <div class ="row">
        <div class ="col-md-12">
            <h3> <strong>Business News</strong></h3> 
        </div>
            <ul>
                {{ macro.displaySourceList(business)}}
            </ul>        
    </div>
        <br>
    <div class ="row">
        <div class ="col-md-12">
            <h3><strong>Sports News</strong></h3> 
        </div>
            <ul>
                {{ macro.displaySourceList(sports)}}
            </ul>        
    </div>
        <br>
    <div class ="row">
        <div class ="col-md-12">
            <h3><strong>Technology News</strong> </h3> 
        </div>
            <ul>
                {{ macro.displaySourceList(technology)}}
            </ul>        
        </div>
            <br>
    <div class ="row">
        <div class ="col-md-12">
            <h3><strong>Health News</strong></h3> 
        </div>
        <ul>
            {{ macro.displaySourceList(health)}}
        </ul>        
    </div>
    <br>
    <div class ="row">
        <div class ="col-md-12">
            <h3><strong>Science News</strong></h3> 
        </div>
        <ul>
            {{ macro.displaySourceList(science)}}
        </ul>        
    </div>
    <br>
 
</div>
{% endblock %}
