{% macro displaySourceList(source_list) %}

    {% for source in source_list %}

    <div class="col-md-4 source-card">

            <div class = "row">
                <div class="col-md-4">
                    <p >{{ source.name}}</p> 
                </div>
                <div class = "col-md-8">
                    <p> {{source.description|truncate(100)}} </p>
                    <a href="/templates/articles/{{source.id}}"> View Articles</a>
                </div>       
            </div> 
    </div>

        
    {% endfor %}
{% endmacro %}






